{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        html{
            font-family: 'ABeeZee', sans-serif;
        }
        body{
            overflow-x: hidden;
        }
        {# nav #}
        .links{
            position: relative;
            top: -15px;
            right: 35px;
        }
        .nav{
            display: flex;
            justify-content: space-between;
        }
        .ico-primary{
            background-color: black;
            height: 60px;
            width: 60px;
        }
        .ico-primary .longbarone{
            position: relative;
            top: 15px;
            left: calc(50% - 12px);
            background-color: white;
            border-radius: 1px;
            height: 5px;
            width: 24px;
        }
        .ico-primary .longbartwo{
            margin-top: 5px;
            position: relative;
            top: 15px;
            left: calc(50% - 12px);
            background-color: white;
            border-radius: 1px;
            height: 5px;
            width: 24px;
        }
        .ico-primary .shortbar{
            margin-top: 5px;
            position: relative;
            top: 15px;
            left: calc(50% - 12px);
            background-color: white;
            border-radius: 1px;
            height: 5px;
            width: 12px;
        }
        {# endnav #}
        a{
            position: relative;
            top: -20px;
            left: calc(85vw - 100px);
            text-decoration: none;
            color: black;
        }
        .form-admin{
            margin-top: 50px;
            position: relative;
            margin-left: 20%;
            height: 80%;
            width: 80%;
        }
        .form-admin label{
            margin-top: 15px;
            display: block;
        }
        .form-admin input{
            margin-top: 5px;
            border: 1px solid lightgrey;
            border-radius: 3px;
            height: 30px;
            width: 80%;
        }
        .admin-button{
            margin-top: 15px;
            border: transparent;
            height: 30px;
            width: 100px;
            color: white;
            background-color: rgb(9, 104, 17);
        }
        .bar-header{
            margin-top: 10px;
            background-color: black;
            height: 3px;
            width: calc(80% + 5px);
        }
        .block-name{
            display: flex;
        }
        @media screen and (min-width: 800px){
            .ico-primary{
                margin-left: 58px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    {# nav #}
    <div class="nav">
        <div class="nav-primary">
            <div class="ico-primary">
                <p class="longbarone"></p>
                <p class="longbartwo"></p>
                <p class="shortbar"></p>
            </div>
            <div class="links">
                <a href="{{ path('home') }}">Home</a>
                <a href="">Shop</a>
                <a href="">Magazine</a>
            </div>
        </div>
    </div>
    {# endnav #}
    <form action="{{ path('home.subscribe') }}" method="post" class="form-admin">
        <div class="block-name">
            <div class="">
                <label>Votre nom</label>
                <input type="text" name="lastname">
            </div>
            <div class="">
                <label>Votre prenom</label>
                <input type="text" name="firstname">
            </div>
        </div>
        <p class="bar-header"></p>
        <div class="">
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <p class="bar-header"></p>
        <div class="">
            <label>Votre email</label>
            <input type="text" name="email">
        </div>
        <p class="bar-header"></p>
        <div class="">
            <label>mot de passe</label>
            <input type="text" name="password">
        </div>
        <p class="bar-header"></p>
        <div class="">
            <label>Confirmez mot de passe</label>
            <input type="text" name="confirmed_password">
        </div>
        <p class="bar-header"></p>
        <button type="submit" class="admin-button">S'inscrire</button>
    </form>
     <a href="{{ path('home.login') }}">Se connecter</a>
{% endblock %}