{% extends 'base.html.twig' %}
{% block body %}
    <div class="nav">
        <div class="nav-primary">
            <div class="ico-primary">
                <p class="longbarone"></p>
                <p class="longbartwo"></p>
                <p class="shortbar"></p>
            </div>
            <div class="links">
                <a href="">Home</a>
                <a href="">Shop</a>
                <a href="">Magazine</a>
            </div>
        </div>
        <div class="nav-secondary">
            <div class="shop">
                <p>Login</p>
                <a href=""><img src="img/CartButton.png"></a>
                <a href=""><img src="img/CartButtonWhite.png" style="display: none;"></a>
            </div>
            <div class="ico-secondary">
                <p class="longbarone"></p>
                <p class="longbartwo"></p>
                <p class="longbartree"></p>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-search">
            <a href=""><img src="img/Search.png"></a>
            <div class="search-box">
                <input class="" placeholder="living room">
                <p class="bar-header"></p>
                <div class="text">
                    <p>Powered by <strong>Sajari.com</strong></p>
                    <img src="img/Sajari Logo.png">
                </div>
            </div>
        </div>
        <div class="match">
            <div class="match-content">
                <p>Best Match</p>
                <img src="img/Large Arrow - Up.png">
            </div>
            <p class="bar-match"></p>
        </div>
    </div>
    <div class="container">
        <div class="filter">
            <div class="filter-content">
                <p>Filters</p>
                <img src="img/Large Arrow - Up.png">
            </div>
            <p class="bar-filter"></p>
        </div>
        <div class="filterBy">
            <p class="title">Filter By</p>
            <div class="collection">
                <div class="collection-content">
                    <p>Collection</p>
                    <img src="img/Large Arrow - Up.png">
                </div>
                <p class="bar-collection"></p>
            </div>
            <div class="color">
                <div class="color-content">
                    <p>Color</p>
                    <img src="img/Large Arrow - Up.png">
                </div>
                <p class="bar-color"></p>
            </div>
            <div class="category">
                <div class="category-content">
                    <p>Category</p>
                    <img src="img/Large Arrow - Up.png">
                </div>
                <p class="bar-category"></p>
            </div>
            <div class="range">
                <div class="range-content">
                    <p>Price Range</p>
                    <!-- <img src="img/Large Arrow - Up.png"> -->
                </div>
                <p class="bar-range"></p>
                <p class="ball-min"></p>
                <p class="ball-max"></p>
            </div>
        </div>
        <!-- <div class="main"> -->
            <!-- for -->
            {% for article in articles %}
            <div class="card">
                <img src="img/{{ article.image }}.png">
                <div class="card-content">
                    <div class="card-content-one">
                        <p class="title">{{ article.title }}</p>
                        <p class="desc">{{ article.description }}</p>
                        <a href="">
                            <div class="rating">
                                <img src="img/Star - On.png">
                                <img src="img/Star - On.png">
                                <img src="img/Star - On.png">
                                <img src="img/Star - On.png">
                                <img src="img/Star - Off.png">
                            </div>
                        </a>
                    </div>
                    <div class="card-content-two">
                        <p class="price">{{ article.price }}</p>
                        <a href=""><img src="img/Add to Cart Button.png"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- endfor -->
        <!-- </div> -->
        <!--  -->
    </div>
    <div class="pagination">
        <div class="num-active">
            <a href="" class="text">1</a>
        </div>
        <div class="num">
            <a href="" class="text">2</a>
        </div>
        <div class="num">
            <a href="" class="text">3</a>
        </div>
        <div class="num">
            <a href="" class="text">4</a>
        </div>
        <div class="num">
            <a href="" class="text">5</a>
        </div>
        <div class="num">
            <a href="" class="text">6</a>
        </div>
        <div class="num">
            <a href="" class="text"><img src="img/Large Arrow - Up.png"></a>
        </div>
    </div>
{% endblock %}